@import '../../utils/sass//colors.scss';
@import '../../utils/sass/devices'; 

%temp {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.weather__container {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray;
  padding: 2rem;

  .title__weather {
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }

  .date__weather {
    font-size: 20px;
    font-weight: bold;
    color: $santander-red;
  }

  .body__weather {
    display: flex;
    justify-content: center;

    .temp__weather {
      position: relative;
      margin: 1rem;

      .min__temp {
        @extend %temp;
        bottom: 0;
        color: gray;
      }

      .max__temp {
        @extend %temp;
        top: 0;
      }
    }
  }
}

@media (max-width: $tablet) {
  .weather__container { padding: 1rem }
  
}
