@import "../../utils/sass/devices";
@import "../../utils/sass/colors.scss";

.container_meetup {
  margin:2rem;

  .description__meetup {
    font-size: 22px;
    font-weight: bold;
  }
  .container__meetupdetail {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-gap: 1.5rem;

    .detail__meetup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 2rem;
      height: 15rem;
      border: 1px solid $gray;
      background: white;
      .text__meetup {
        margin: 1rem 0rem;
      }
    }

    .people__meetup_detail{
      margin: 0 1rem;
      border: 1px solid $gray;
    }
  }
}

@media (min-width: $tablet) {
  .container__meetupdetail { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: $desktop) {
  .container__meetupdetail { grid-template-columns: repeat(3, 1fr); }
}
