@import '../../utils/sass/devices'; 
@import '../../utils/sass/colors.scss';

.container__modal {
  background: white;
  width: 35rem;
  height: 30rem;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  &:focus{
    outline: none;
  }

  .title__login {
    font-size: 24px;
    font-weight: bold;
    color: $santander-red;
  }

  .container__input__login {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .input__login {
    width: 70%;
    margin-top: 2rem;
  }

  .button__login {
    background: $santander-red;
    border: none;
    padding: 1rem;
    width: 70%;
    color: white;
    margin-top: 4rem;
    font-size: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

.login__button {
  border: none;
  background: white;
  font-size: 16px;
  margin-right: 0.5rem;
  cursor: pointer;
  &:focus{
    outline: none;
  }
 
}