.MuiChip-root {
  width: 90%;
  border-radius: 0 !important;
  margin-top: 0.2rem;
  justify-content: left !important;
}


.container__invite {

  overflow-y: scroll;
  height: 19rem;

  .add__container {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .add__button {
      margin-top: 1rem;
      border: none;
      background: #ec0000;
      color: white;
      padding: 0.8rem;

      &:hover {
        background: linear-gradient(to right, rgba(236,0,0,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,0,96,1) 100%);
        transition: 0.5s ease;
        cursor: pointer;
      }
    }
  }

  
}