@import '../../utils/sass/devices'; 
@import '../../utils/sass/colors.scss';

h2 {
  color: $santander-red;
  margin: 2rem;
}
.container__createmeetup {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  height: 30rem;
  
  .form__meetup {
    display: flex;
    position: relative;
    flex-direction: column;
    background: $gray;
    padding: 2rem 3rem;
    margin: 0 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .button__meetup {
      position: absolute;
      bottom: 0;
      width: 12rem;
      left: 28%;
      border: none;
      background: $santander-red;
      color: white;
      padding: 1rem 2rem;
      margin: 2rem 0;
    }
    
  }
  }
  .form__text {
    text-align: right;
    color: $dark;
  }
  .date__meetup {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 21rem;
    justify-content: space-between;
  }

  .time__meetup {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 21rem;
    justify-content: space-between;
  }

  .people__meetup {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 21rem;
    justify-content: space-between;
  }

  .location__meetup {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 21rem;
    justify-content: space-between;
  }

  .place__meetup {
    width: 10.5rem;
  }

 

